
<div class="loginContainer">
    <div class="formLogin">
        <header>
            Login
        </header>
        @Html.ValidationSummary(false, "", new { @class = "error" })
        <form method="post" asp-controller="Account" asp-action="Index">
            <div class="field">
                <input placeholder="Ingrese su usuario" />
            </div>
            <div class="field">
                <input placeholder="Ingrese su contraseña" />
            </div>
            <div class="buttons">
                <button>Ingresar</button>
                <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success">Register</a>
                <a asp-controller="Account" asp-action="ForgotPassword" class="forgot">Olvide mi contraseña</a>
            </div>

        </form>
    </div>
</div>