@using BiblosApp.Core.Application.ViewModels.Usuario;
@using BiblosApp.Core.Application.Enums;
@model UsuarioSaveViewModel;
@{
    ViewData["Title"] = "Registrar";
}
<body class="bg-light">

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Registrate</h2>
                <p class="lead">Unete a nuestra app y se uno mas de nuestra comunidad</p>
            </div>
            <div class="row g-5">
                <div class="col-md-7 col-lg-8 offset-2">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form class="needs-validation" method="post" asp-controller="User" asp-action="Register" novalidate="">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="Nombre" class="form-label">Nombre</label>
                                <input class="form-control" id="Apellido" placeholder="" value="" required="" asp-for="Nombre">
                                <div class="invalid-feedback">
                                    Se requiere nombre válido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="Apellido" class="form-label">Apellido</label>
                                <input class="form-control" id="Apellido" placeholder="" value="" required="" asp-for="Apellido">
                                <div class="invalid-feedback">
                                    Se requiere apellido válido.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Nombre de usuario</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text"></span>
                                    <input class="form-control" id="username" placeholder="Username" required="" asp-for="Username">
                                    <div class="invalid-feedback">
                                        Se requiere nombre de usuario válido.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email <span class="text-muted">(Obligatorio)</span></label>
                                <input class="form-control" id="email" placeholder="you@example.com" asp-for="Email">
                                <div class="invalid-feedback">
                                    Se requiere correo válido.
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <label for="contrasena" class="form-label">Contraseña</label>
                                <input class="form-control" id="contrasena" placeholder="Contraseña" required="" asp-for="Contrasena">
                                <div class="invalid-feedback">
                                    Se requiere contraseña válida.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="confirmContra" class="form-label"> Confirmar contrasena</label>
                                <input class="form-control" id="confirmContra" placeholder="Confirmar Contraseña" required="" asp-for="ConfirmContrasena">
                                <div class="invalid-feedback">
                                    Las contraseñas deben coincidir.
                                </div>
                            </div>
                        <hr class="my-4">
                        <div style="text-align:center;">
                            <button class="w-50 btn btn-primary btn mb-2" type="submit">Agregar</button>
                            <a class="w-50 btn btn-warning" asp-controller="User" asp-action="Login">Volver</a>
                        </div>


                    </form>
                </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
        </footer>
    </div>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous" defer></script>

</body>
